<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>

<!--  afficher la question et la rep
et le lien pour reposer une question -->

<%= @query %>

<%= @answer %>


<% link_to "New Question", "ask.html" %>
